@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./styles/tokens.css";

@custom-variant dark (&:is(.dark *));

/* TODO: add feature that allow you to append the non color values in the semantic token file to their respective suffix or measurement
-- so that way we only have two tokens files */

:root {
  --background: var(--ncco-colors-background-light);
  --foreground: var(--ncco-colors-card-foreground-light);
  --card: var(--ncco-colors-card-light);
  --card-foreground: var(--ncco-colors-card-foreground-light);
  --popover: var(--ncco-colors-popover-light);
  --popover-foreground: var(--ncco-colors-popover-foreground-light);
  --primary: var(--ncco-colors-primary-light);
  --primary-foreground: var(--ncco-colors-primary-foreground-light);
  --secondary: var(--ncco-colors-secondary-light);
  --secondary-foreground: var(--ncco-colors-secondary-foreground-light);
  --muted: var(--ncco-colors-muted-light);
  --muted-foreground: var(--ncco-colors-muted-foreground-light);
  --accent: var(--ncco-colors-accent-light);
  --accent-foreground: var(--ncco-colors-accent-foreground-light);
  --destructive: var(--ncco-colors-destructive-light);
  --border: var(--ncco-colors-border-light);
  --input: var(--ncco-colors-input-light);
  --ring: var(--ncco-colors-ring-light);
  --chart-1: var(--ncco-colors-chart-1-light);
  --chart-2: var(--ncco-colors-chart-2-light);
  --chart-3: var(--ncco-colors-chart-3-light);
  --chart-4: var(--ncco-colors-chart-4-light);
  --chart-5: var(--ncco-colors-chart-5-light);
  --radius: var(--ncco-rounded-md); /* Change and add semantic values. along with all other radius values */
  --sidebar: var(--ncco-colors-sidebar-light);
  --sidebar-foreground: var(--ncco-colors-sidebar-foreground-light);
  --sidebar-primary: var(--ncco-colors-sidebar-primary-light);
  --sidebar-primary-foreground: var(--ncco-colors-sidebar-primary-foreground-light);
  --sidebar-accent: var(--ncco-colors-sidebar-accent-light);
  --sidebar-accent-foreground: var(--ncco-colors-sidebar-accent-foreground-light);
  --sidebar-border: var(--ncco-colors-sidebar-border-light);
  --sidebar-ring: var(--ncco-colors-sidebar-ring-light);
  --font-sans: var(--ncco-font-font-sans-condensed);
}

.dark {
  --background: var(--ncco-colors-background-dark);
  --foreground: var(--ncco-colors-foreground-dark);
  --card: var(--ncco-colors-card-dark);
  --card-foreground: var(--ncco-colors-card-foreground-dark);
  --popover: var(--ncco-colors-popover-dark);
  --popover-foreground: var(--ncco-colors-popover-foreground-dark);
  --primary: var(--ncco-colors-primary-dark);
  --primary-foreground: var(--ncco-colors-primary-foreground-dark);
  --secondary: var(--ncco-colors-secondary-dark);
  --secondary-foreground: var(--ncco-colors-secondary-foreground-dark);
  --muted: var(--ncco-colors-muted-dark);
  --muted-foreground: var(--ncco-colors-muted-foreground-dark);
  --accent: var(--ncco-colors-accent-dark);
  --accent-foreground: var(--ncco-colors-accent-foreground-dark);
  --destructive: var(--ncco-colors-destructive-dark);
  --border: var(--ncco-colors-border-dark);
  --input: var(--ncco-colors-input-dark);
  --ring: var(--ncco-colors-ring-dark);
  --chart-1: var(--ncco-colors-chart-1-dark);
  --chart-2: var(--ncco-colors-chart-2-dark);
  --chart-3: var(--ncco-colors-chart-3-dark);
  --chart-4: var(--ncco-colors-chart-4-dark);
  --chart-5: var(--ncco-colors-chart-5-dark);
  --sidebar: var(--ncco-colors-sidebar-dark);
  --sidebar-foreground: var(--ncco-colors-sidebar-foreground-dark);
  --sidebar-primary: var(--ncco-colors-sidebar-primary-dark);
  --sidebar-primary-foreground: var(--ncco-colors-sidebar-primary-foreground-dark);
  --sidebar-accent: var(--ncco-colors-sidebar-accent-dark);
  --sidebar-accent-foreground: var(--ncco-colors-sidebar-accent-foreground-dark);
  --sidebar-border: var(--ncco-colors-sidebar-border-dark);
  --sidebar-ring: var(--ncco-colors-sidebar-ring-dark);
}

@theme inline {
  --font-sans: var(--ncco-font-font-sans-condensed);
  --color-sidebar-ring: var(--ncco-colors-sidebar-ring-light);
  --color-sidebar-border: var(--ncco-colors-sidebar-border-light);
  --color-sidebar-accent-foreground: var(--ncco-colors-sidebar-accent-foreground-light);
  --color-sidebar-accent: var(--ncco-colors-sidebar-accent-light);
  --color-sidebar-primary-foreground: var(--ncco-colors-sidebar-primary-foreground-light);
  --color-sidebar-primary: var(--ncco-colors-sidebar-primary-light);
  --color-sidebar-foreground: var(--ncco-colors-sidebar-foreground-light);
  --color-sidebar: var(--ncco-colors-sidebar-light);
  --color-chart-5: var(--ncco-colors-chart-5-light);
  --color-chart-4: var(--ncco-colors-chart-4-light);
  --color-chart-3: var(--ncco-colors-chart-3-light);
  --color-chart-2: var(--ncco-colors-chart-2-light);
  --color-chart-1: var(--ncco-colors-chart-1-light);
  --color-ring: var(--ncco-colors-ring-light);
  --color-input: var(--ncco-colors-input-light);
  --color-border: var(--ncco-colors-border-light);
  --color-destructive: var(--ncco-colors-destructive-light);
  --color-accent-foreground: var(--ncco-colors-accent-foreground-light);
  --color-accent: var(--ncco-colors-accent-light);
  --color-muted-foreground: var(--ncco-colors-muted-foreground-light);
  --color-muted: var(--ncco-colors-muted-light);
  --color-secondary-foreground: var(--ncco-colors-secondary-foreground-light);
  --color-secondary: var(--ncco-colors-secondary-light);
  --color-primary-foreground: var(--ncco-colors-primary-foreground-light);
  --color-primary: var(--ncco-colors-primary-light);
  --color-popover-foreground: var(--ncco-colors-popover-foreground-light);
  --color-popover: var(--ncco-colors-popover-light);
  --color-card-foreground: var(--ncco-colors-card-foreground-light);
  --color-card: var(--ncco-colors-card-light);
  --color-foreground: var(--ncco-colors-foreground-light);
  --color-background: var(--ncco-colors-background-light);
  --radius-sm: var(--ncco-radius-4);
  --radius-md: var(--ncco-radius-6);
  --radius-lg: var(--ncco-radius-8);
  --radius-xl: calc(var(--ncco-radius-8) * 1.4);
  --radius-2xl: calc(var(--ncco-radius-8) * 1.8);
  --radius-3xl: calc(var(--ncco-radius-8) * 2.2);
  --radius-4xl: calc(var(--ncco-radius-8) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--ncco-font-font-sans-condensed);
  }
  html {
    @apply font-sans;
  }
}
